;; ERC setup

;; Ensure that ERC comes up in Insert mode.
(add-to-list 'viper-insert-state-mode-list 'erc-mode)

(defun ted-viper-erc-hook ()
  "Make RET DTRT when you use Viper and ERC together."
  (viper-add-local-keys 'insert-state
			`((,(kbd "RET") . erc-send-current-line)))
  (viper-add-local-keys 'vi-state
			`((,(kbd "RET") . erc-send-current-line))))
(add-hook 'erc-mode-hook 'ted-viper-erc-hook)

;; Matching
(require 'erc-match)
(setq erc-keywords '("jstew"))
(erc-match-mode)

;; Autocomplete
(add-hook 'erc-mode-hook
          '(lambda ()
             (require 'erc-pcomplete)
             (pcomplete-erc-setup)
             (erc-completion-mode 1)))

;; Wrap long lines, detect netsplits, history, etc
(require 'erc-fill)
(erc-fill-mode t)

(require 'erc-ring)
(erc-ring-mode t)

(require 'erc-netsplit)
(erc-netsplit-mode t)

(setq erc-user-full-name "Jason Stewart")
(setq erc-email-userid "youremail")


(defun jstew/start-irc ()
  "Connect to IRC."
  (interactive)
  (when (y-or-n-p "IRC? ")
    (require 'erc-join)
    (erc-autojoin-mode 1)
    (setq erc-prompt-for-nickserv-password nil)
    (erc :server "irc.freenode.net" :port 6667
	 :nick "jstew" :full-name "Jason Stewart" :password "yourpass")
    (setq erc-autojoin-channels-alist '(("freenode.net" "#rubyonrails")))
    ))
